.App {
    text-align: left;
    padding-left: 10px;
}
.Form div{
    display: block;
    clear: both;
    width: 400px;
    margin: 0px auto;
}
input, select{
    padding: 5px 10px 0 10px;
    padding-bottom: 10px;
    border: solid 1px #ccc;
    display: block;
    height:25px;
    width: 100%;
    font-size: 15px;
}
div > div.left{
    float: left;
    width: 20%;
    clear: initial;
}
label{
    text-transform: capitalize;
    display: block;
    margin-top: 10px;
}
.invalid{
    border: solid red 1px;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}
.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}
.App-intro {
    font-size: large;
}
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
